:root {
  --background-color: #e1e1d7;
  --color-turquoise-80: rgba(59, 176, 135, 0.8);
  --color-brown-dark: rgb(83, 58, 25);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}
