.button {
  cursor: pointer;

  &--start {
    border-radius: 5rem;
    background-color: var(--color-turquoise-80);
    border: 6px solid var(--color-brown-dark);
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    color: var(--color-brown-dark);
    font-family: "Rowdies";
    padding: 0.5rem 5rem;
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 600px) {
  .button {
    &--start {
      padding: 0.5rem 4rem;
      font-size: 1.1rem;
    }
  }
}
